
<h2 class="center">The weather in {{ title }}</h2>
<div id="divWeatherMain" class="center">
  <div *ngIf="weatherData.isDay" class="weatherWidgetRow">
      <i class="fas fa-3x fa-sun sun"></i>
  </div>
  <div *ngIf="!weatherData.isDay" class="weatherWidgetRow">
      <i class="fas fa-3x fa-moon moon"></i>
  </div>
  <div *ngIf="weatherData.isCloudy" class="weatherWidgetRow cloudDiv">
      <i class="fas fa-cloud fa-3x cloud"></i>
  </div>
  <div class="weatherWidgetRow" style="font-size: 40px;margin-top: 5px;">{{weatherData.tempCelcius}}°</div>
  <div class="weatherWidgetRow" style="font-size: 17px;">{{weatherData.tempMin}}° / {{weatherData.tempMax}}°</div>
  <div class="weatherWidgetRow" style="font-size: 17px;">Feels Like: {{weatherData.feelLike}}°</div>
  <div class="weatherWidgetRow" style="font-size: 25px;margin-top: 10px;">{{weatherData.name}}</div>
  <div class="weatherWidgetRow" style="font-size: 17px;">Humidity: {{weatherData.humidity}}%</div>
</div>


<weather-form></weather-form>

<ul class="day-list">
<li>
    <div class="day-list-values"></div>
</li>
</ul>
<p>Need to do.....</p>
